<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron jumbotron-fluid">
  <h1 style="text-align:center">{{title}}</h1>
</div>
<div class="container-flex">
  <div class="row">
    <div class="col-md-12">
      <app-keg-list [childKegList]="masterKegList" (clickSender)="editKeg($event)"></app-keg-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-new-keg (sendKeg)="addKeg($event)"></app-new-keg>
    </div>
    <div class="col-md-6">
      <app-edit-keg [childSelectedKeg]="selectedKeg" (doneButtonClickedSender)="finishedEditing()"></app-edit-keg>
    </div>
  </div>
  <footer>Alexander Neumann @ Epicodus 2018</footer>
</div>
